## 01 - Load Data

___

### 01.1 - Importando as bibliotecas

In [55]:
# bibliotecas básicas
import os
import sys
import numpy as np
import pandas as pd

# bibliotecas para web scrapping
from pandas_datareader import data as web
import quandl
import requests
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

# configurações
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)

### 01.2 - Definindo os caminhos

In [31]:
THIS_PATH = os.getcwd()
ROOT_PATH = os.path.dirname(THIS_PATH)
DATA_PATH = os.path.join(ROOT_PATH, 'data')

### 01.3 - Carregando os dados

Neste projeto, vamos considerar todas as ações que compõem o índice Bovespa.
<br>
<br>
Vamos extrair os seguintes dados:

- Preços históricos das ações
- Histórico do índice Bovespa
- Dados históricos de pagamentos de dividendos e JCP
- Dados históricos fundamentalistas
- Dados históricos macroeconômicos (Dólar, Selic e IPCA)

#### Preços históricos das ações

In [197]:
# Extraindo a carteira do Ibovespa
url = 'http://bvmf.bmfbovespa.com.br/indices/ResumoCarteiraTeorica.aspx?Indice=IBOV&amp;idioma=pt-br&idioma=pt-br'
carteira_ibov = pd.read_html(url, decimal=',', thousands='.')[0][:-1]

In [198]:
carteira_ibov.tail()

   Código          Ação   Tipo Qtde. Teórica  Part. (%)
70  VALE3          VALE  ON NM    3292010807     10.686
71  VIVT4  TELEF BRASIL     PN     415131868      1.136
72  VVAR3     VIAVAREJO  ON NM    1443662628      1.457
73  WEGE3           WEG  ON NM     689271972      2.501
74  YDUQ3    YDUQS PART  ON NM     299667897      0.521

In [199]:
# Salvando a carteira do ibovespa em um .csv
filename_cart_ibov = 'carteira_ibovespa.csv'
carteira_ibov.to_csv(os.path.join(DATA_PATH, filename_cart_ibov))

In [16]:
# Identificando os tickers que compõem o índice bovespa
tickers = carteira_ibov['Código'].unique().tolist()

In [17]:
# Carregando os preços históricos dos tickers
stocks = pd.DataFrame()
for t in tickers:
    try:
        aux = web.get_data_yahoo(t, '01/01/2005')
    except:
        t += '.SA'
        aux = web.get_data_yahoo(t, '01/01/2005')
    aux['Ticker'] = t
    stocks = pd.concat([stocks, aux])

In [18]:
stocks.shape

(225821, 7)

In [19]:
stocks.index.min(), stocks.index.max()

(Timestamp('2005-01-03 00:00:00'), Timestamp('2020-08-10 00:00:00'))

In [23]:
stocks.tail()

,High,Low,Open,Close,Volume,Adj Close,Ticker
Date,,,,,,,
2020-08-04,33.630001,32.049999,33.599998,32.720001,2285900.0,32.720001,YDUQ3.SA
2020-08-05,33.450001,32.480000,32.990002,32.750000,1943900.0,32.750000,YDUQ3.SA
2020-08-06,33.439999,32.459999,33.000000,33.380001,2191900.0,33.380001,YDUQ3.SA
2020-08-07,33.180000,31.809999,32.970001,32.180000,3020900.0,32.180000,YDUQ3.SA
2020-08-10,32.459999,31.350000,32.349998,32.029999,3154200.0,32.029999,YDUQ3.SA

In [117]:
stocks['Ticker'] = stocks['Ticker'].apply(lambda x: x.replace('.SA', ''))

In [167]:
stocks.head(2)

               High      Low     Open    Close   Volume  Adj Close Ticker
Date
2005-01-03  4.58232  4.58232  4.58232  4.58232  40041.0   0.825290  ABEV3
2005-01-04  4.61528  4.61528  4.61528  4.61528  72498.0   0.831226  ABEV3

In [168]:
# Salvando o dataframe de stocks em um .csv
filename_stocks = 'stocks.csv'
stocks.to_csv(os.path.join(DATA_PATH, filename_stocks))

In [163]:
df_setor = pd.DataFrame()

# Criando listas auxiliares
setor = []
subsetor = []

for t in tickers:
    # Criando o DataFrame principal
    df_setor = pd.DataFrame()

    # Criando um DataFrame auxiliar
    aux2 = pd.DataFrame()

    # Definindo a URL
    url = 'http://www.fundamentus.com.br/detalhes.php?papel={}'.format(t)

    # Informações para fingir ser um navegador
    header = {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
      "X-Requested-With": "XMLHttpRequest"
    }
    # Fazendo a request
    r = requests.get(url, headers=header)

    # Lendo a tabela
    aux = pd.read_html(r.text, decimal=',', thousands='.')[0]
    setor.append(aux.loc[3, 1])
    subsetor.append(aux.loc[4, 1])

df_setor['Ticker'] = tickers
df_setor['Setor'] = setor
df_setor['Subsetor'] = subsetor

In [164]:
df_setor.head(10)

   Ticker                          Setor                       Subsetor
0   ABEV3                        Bebidas       Cervejas e Refrigerantes
1   AZUL4                     Transporte               Transporte Aéreo
2   B3SA3  Serviços Financeiros Diversos  Serviços Financeiros Diversos
3   BBAS3                    Financeiros                         Bancos
4   BBDC3                    Financeiros                         Bancos
5   BBDC4                    Financeiros                         Bancos
6   BBSE3          Previdência e Seguros                    Seguradoras
7   BEEF3                      Alimentos             Carnes e Derivados
8  BPAC11                    Financeiros                         Bancos
9   BRAP4        Holdings Diversificadas        Holdings Diversificadas

In [165]:
df_setor.shape

(75, 3)

In [166]:
# Salvando o dataframe de setor em um .csv
filename_setor = 'setores.csv'
df_setor.to_csv(os.path.join(DATA_PATH, filename_setor))

#### Histórico do índice Bovespa

In [200]:
# Carregando os índices históricos do bovespa
ticker_ibov = '^BVSP'
ibov = web.get_data_yahoo(ticker_ibov, '01/01/2005')
ibov['Ticker'] = 'BVSP'

In [201]:
ibov.head(3)

               High      Low     Open    Close  Volume  Adj Close Ticker
Date
2005-01-03  26492.0  25671.0  26193.0  25722.0     0.0    25722.0   BVSP
2005-01-04  25873.0  24791.0  25722.0  24848.0     0.0    24848.0   BVSP
2005-01-05  25001.0  24523.0  24859.0  24692.0     0.0    24692.0   BVSP

In [202]:
ibov.shape

(3856, 7)

In [203]:
ibov.index.min(), ibov.index.max()

(Timestamp('2005-01-03 00:00:00'), Timestamp('2020-08-11 00:00:00'))

In [204]:
# Salvando o dataframe do ibov em um .csv
filename_ibov = 'ibovespa.csv'
ibov.to_csv(os.path.join(DATA_PATH, filename_ibov))

#### Dados históricos de pagamentos de dividendos e JCP

In [103]:
dividendos = pd.DataFrame()

for t in tickers:
    # Definindo a URL
    url = "http://www.fundamentus.com.br/proventos.php?papel={}&tipo=2".format(t)

    # Informações para fingir ser um navegador
    header = {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
      "X-Requested-With": "XMLHttpRequest"
    }
    # Fazendo a request
    r = requests.get(url, headers=header)

    # Lendo a tabela
    try: 
        aux = pd.read_html(r.text, decimal=',', thousands='.')[0]
        aux['Ticker'] = t
    except:
        pass
    
    dividendos = pd.concat([dividendos, aux])

In [104]:
dividendos.head()

         Data   Valor             Tipo  Por quantas ações Ticker
0  19/12/2019  0.4906  JRS CAP PROPRIO                  1  ABEV3
1  18/12/2018  0.3200  JRS CAP PROPRIO                  1  ABEV3
2  15/06/2018  0.1600        DIVIDENDO                  1  ABEV3
3  31/01/2018  0.0700        DIVIDENDO                  1  ABEV3
4  18/12/2017  0.3100  JRS CAP PROPRIO                  1  ABEV3

In [96]:
dividendos['Ticker'].nunique()

72

In [98]:
dividendos.shape

(4040, 5)

In [100]:
dividendos.Data.min(), dividendos.Data.max()

('01/02/1999', '31/10/2019')

In [101]:
# Salvando o dataframe do ibov em um .csv
filename_dividendos = 'dividendos.csv'
dividendos.to_csv(os.path.join(DATA_PATH, filename_dividendos))

#### Dados históricos fundamentalistas

#### Dados históricos macroeconômicos (Dólar, Selic e IPCA)

#### Dólar

In [169]:
ticker_dolar = ['USDBRL=X']
dolar = web.get_data_yahoo(ticker_dolar, '01/01/2005')
dolar['Ticker'] = 'dolar'

In [170]:
dolar.head(3)

Attributes Adj Close    Close     High      Low     Open   Volume Ticker
Symbols     USDBRL=X USDBRL=X USDBRL=X USDBRL=X USDBRL=X USDBRL=X
Date
2006-03-24    2.1547   2.1547   2.1665   2.1541   2.1665      0.0  dolar
2006-03-26    2.1503   2.1503   2.1558   2.1503   2.1555      0.0  dolar
2006-03-27    2.1677   2.1677   2.1690   2.1677   2.1682      0.0  dolar

In [171]:
dolar.shape

(3717, 7)

In [181]:
dolar.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume', 'Ticker']

In [184]:
dolar.head(3)

            Adj Close   Close    High     Low    Open  Volume Ticker
Date
2006-03-24     2.1547  2.1547  2.1665  2.1541  2.1665     0.0  dolar
2006-03-26     2.1503  2.1503  2.1558  2.1503  2.1555     0.0  dolar
2006-03-27     2.1677  2.1677  2.1690  2.1677  2.1682     0.0  dolar

In [185]:
dolar.index.min(), dolar.index.max()

(Timestamp('2006-03-24 00:00:00'), Timestamp('2020-08-12 00:00:00'))

In [186]:
# Salvando o dataframe do ibov em um .csv
filename_dolar = 'dolar.csv'
dolar.to_csv(os.path.join(DATA_PATH, filename_dolar))

#### Selic

In [191]:
# Carregando dados históricos da selic
selic = quandl.get('BCB/432', start_date='01/01/2005')

In [192]:
selic.tail(3)

            Value
Date
2020-08-09    2.0
2020-08-10    2.0
2020-08-11    2.0

In [193]:
# Salvando o histórico da selic em um .csv
filename_selic = 'selic.csv'
selic.to_csv(os.path.join(DATA_PATH, filename_selic))

#### IPCA

In [195]:
# Carregando dados históricos do IPCA
ipca = quandl.get('BCB/13522', start_date='01/01/2005')

In [205]:
ipca.head(3)

            Value
Date
2005-01-31   7.41
2005-02-28   7.39
2005-03-31   7.54

In [206]:
# Salvando o histórico do IPCA em um .csv
filename_ipca = 'ipca.csv'
ipca.to_csv(os.path.join(DATA_PATH, filename_ipca))