### Extraindo os Dados

*Neste notebook, faremos o processo de extração dos dados...*

In [1]:
# importando as bibliotecas
import os
import sys
import requests
from datetime import datetime
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import quandl
import investpy as inv

# configurando o notebook
import warnings
warnings.filterwarnings('ignore')

In [144]:
url = 'https://www.espn.com.br/nba/classificacao'
req = requests.get(url)

In [145]:
soup = BeautifulSoup(req.text, 'html.parser')

In [150]:
pd.read_html(url)[1]

,V,D,% Vit.,JA,Casa,VISITANTE,DIV,CONF,PTS,PTS Contra,DIF,STRK,U10
0,53,12,0.815,-,28-3,25-9,13-1,34-5,118.6,107.4,11.2,D3,6-4
1,46,18,0.719,6.5,23-9,23-9,8-4,30-10,113.0,106.5,6.5,V4,6-4
2,43,21,0.672,9.5,23-9,20-12,7-6,27-10,113.0,106.8,6.2,V1,5-5
3,41,24,0.631,12,27-5,14-19,10-4,28-10,112.2,108.9,3.3,D1,6-4
4,39,26,0.600,14,21-11,18-15,8-7,24-18,109.3,107.4,1.9,D1,7-3
5,39,26,0.600,14,29-2,10-24,11-4,26-16,109.6,107.4,2.2,V1,5-5
6,30,34,0.469,22.5,18-14,12-20,6-9,20-21,110.8,111.4,-0.6,V3,5-5
7,30,35,0.462,23,16-15,14-20,9-5,19-18,106.4,107.3,-0.9,V3,6-4
8,24,40,0.375,28.5,16-16,8-24,5-9,17-23,115.6,119.6,-4.0,V1,4-6
9,23,42,0.354,30,10-21,13-21,2-7,16-24,102.9,109.6,-6.7,V1,4-6
10,22,43,0.338,31,14-20,8-23,7-9,15-28,106.8,109.9,-3.1,V1,3-7
11,21,45,0.318,32.5,11-22,10-23,2-11,15-28,105.8,112.3,-6.5,V1,4-6
12,20,46,0.303,33.5,11-22,9-24,5-10,12-31,107.2,110.8,-3.6,D5,1-9
13,20,47,0.299,34,14-20,6-27,6-7,11-32,111.8,119.7,-7.9,D1,4-6
14,19,46,0.292,34,11-25,8-21,4-10,12-32,106.9,114.8,-7.9,D1,4-6

In [ ]:
soup.findAll(name={"table"})

- Dados históricos dos preços das ações

In [ ]:
# empresas

In [12]:
def get_stocks_historical_data():
    
    stocks_df = pd.DataFrame()

    stocks_test = ['ITUB3']
    # stocks = inv.stocks.get_stocks_list(country='brazil').sort()

    for stock in stocks_test:

        start_date = '01/01/2010'
        final_date = '23/05/2020'

        stocks_aux = inv.stocks.get_stock_historical_data(stock=stock,
                                                          country='brazil',
                                                          from_date=start_date, to_date=final_date).reset_index()
        stocks_aux['ticker'] = stock

        stocks_df = stocks_df.append(stocks_aux)
    
    return stocks_df

In [13]:
stocks_df = get_stocks_historical_data()

In [14]:
stocks_df.head()

        Date  Open  High   Low  Close  Volume Currency ticker
0 2010-01-03  8.25  8.55  8.25   8.55  628696      BRL  ITUB3
1 2010-01-04  8.53  8.56  8.44   8.56  184037      BRL  ITUB3
2 2010-01-05  8.56  8.56  8.44   8.56  117386      BRL  ITUB3
3 2010-01-06  8.50  8.51  8.43   8.48  137549      BRL  ITUB3
4 2010-01-07  8.45  8.47  8.29   8.38   96580      BRL  ITUB3

In [15]:
stocks_df.shape

(2569, 8)

In [17]:
stocks_df.to_csv('../data/amostra.csv')

In [219]:
# bovespa

In [220]:
indices = inv.get_indices_list(country='brazil')

In [223]:
def get_bovespa_historical_data():
    
    start_date = '01/01/2000'
    final_date = '23/05/2020'
    
    bov_df = inv.get_index_historical_data(index='Bovespa',
                                           country='brazil',
                                           from_date=start_date, to_date=final_date).reset_index()
    
    return bov_df

In [224]:
bov_df = get_bovespa_historical_data()

In [225]:
bov_df.head()

        Date      Open      High       Low     Close     Volume Currency
0 2000-12-26  14804.50  15222.92  14804.50  15186.15  239975392      BRL
1 2000-12-27  15188.21  15269.30  15132.06  15259.29  324256128      BRL
2 2001-01-01  15242.11  15621.41  15173.61  15425.34  230631104      BRL
3 2001-01-02  15425.41  16599.42  15251.12  16599.42  381195200      BRL
4 2001-01-03  16596.78  16933.39  16586.85  16675.06  331230784      BRL

- Dados históricos de pagamentos de dividendos

In [236]:
inv.stocks.get_stock_dividends(stock='BBAS3', country='brazil')

RuntimeError: ERR#0061: introduced stock has no dividend's data to display.

- Dados históricos fundamentalistas

- Dados históricos macroeconômicos

In [ ]:
# dolar

In [108]:
def extract_dolar():
    
    start_date = '01-01-2000' # MM-DD-AAAA
    final_date = datetime.today().strftime('%m-%d-%Y')
    
    url_dolar = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='{}'&@dataFinalCotacao='{}'&$top=1000000&$format=text/csv&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao".format(start_date, final_date)
    
    return pd.read_csv(url_dolar, sep=',', decimal=',')

In [109]:
dolar_df = extract_dolar()

In [113]:
dolar_df.tail()

      cotacaoCompra  cotacaoVenda          dataHoraCotacao
5116         5.8223        5.8229  2020-05-15 13:07:28.264
5117         5.7369        5.7375  2020-05-18 13:03:30.159
5118         5.7210        5.7216  2020-05-19 13:09:50.154
5119         5.6962        5.6968   2020-05-20 13:11:28.89
5120         5.6013        5.6019  2020-05-21 13:02:36.901

In [ ]:
# selic

In [4]:
url_selic = 'https://www.bcb.gov.br/controleinflacao/historicotaxasjuros'
request = requests.get(url_selic)

In [5]:
request.text

'<!doctype html>\r\n\r\n<html lang="pt-br">\r\n\r\n<head>\r\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge" />\r\n\t<meta charset="utf-8">\r\n\t<base href="https://www.bcb.gov.br/">\n\r\n\t<title>Banco Central do Brasil</title>\r\n\r\n\t<meta name="description" content="Banco Central do Brasil">\r\n\t<meta name="viewport" content="width=device-width, initial-scale=1">\r\n\t<meta name="robots" content="index, follow" />\r\n\t<meta name="AdsBot-Google" content="noindex" />\r\n\t<meta name="theme-color" content="#025c75" />\r\n\t<meta name="google-site-verification" content="HrSauVp28E-CmIunToYrF1-gaMfDbWESxMFUDXFMqPA" />\r\n\r\n\t<link rel="alternate" hreflang="pt" href="/">\r\n\t<link rel="alternate" hreflang="en" href="/en/">\r\n\t<link rel="canonical" href="/" />\r\n\t<link rel="icon" type="image/x-icon" href="/favicon.ico">\r\n\r\n\t<!-- diz ao servidor que futuras conexoes ira usar -->\r\n\t<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>\r\n\t<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>\r\n\r\n\t<!-- css -->\r\n\t<link rel="preload" href="/assets/fonts/iconic/iconic-lg.woff" as="font" type="font/woff" crossorigin>\r\n\t<link rel="preload" href="/assets/fonts/iconic/iconic-md.woff" as="font" type="font/woff" crossorigin>\r\n\t<link rel="preload" href="/assets/fonts/iconic/iconic-sm.woff" as="font" type="font/woff" crossorigin>\r\n\t<link rel="preload" href="/assets/fonts/iconic/iconic-sm.ttf" as="font" type="font/ttf" crossorigin>\r\n\t<link rel="preload" href="/assets/fonts/iconic/iconic-md.ttf" as="font" type="font/ttf" crossorigin>\r\n\t<link rel="preload" href="/assets/fonts/iconic/iconic-lg.ttf" as="font" type="font/ttf" crossorigin>\r\n\r\n\t<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" lazyload>\r\n\t<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" lazyload>\r\n\t<!-- production -->\r\n<link rel="stylesheet" href="https://www.bcb.gov.br/styles.1f9ba79385903f3690f3.css"></head>\r\n\r\n<body>\r\n\t<noscript>Essa pagina depende do javascript para abrir, favor habilitar o javascript do seu browser!</noscript>\r\n\t<app-root></app-root>\r\n\t<script src="https://www.googletagmanager.com/gtag/js?id=UA-65460906-3" async></script>\r\n\t<script src="/assets/js/gtag.js" async></script>\r\n\t<script src="/assets/js/gtm.js" async></script>\r\n\t<!-- <script src="/assets/js/webchat.js" defer></script> -->\r\n<script src="https://www.bcb.gov.br/runtime-es2015.65b795c769f5e385de45.js" type="module"></script><script src="https://www.bcb.gov.br/runtime-es5.65b795c769f5e385de45.js" nomodule defer></script><script src="https://www.bcb.gov.br/polyfills-es5.4b6e0c7adfacd6dc1990.js" nomodule defer></script><script src="https://www.bcb.gov.br/polyfills-es2015.f98d8cd976e6cab150f8.js" type="module"></script><script src="https://www.bcb.gov.br/scripts.376be1471b020a6f922e.js" defer></script><script src="https://www.bcb.gov.br/vendor-es2015.0b63a81b427d33d0f87e.js" type="module"></script><script src="https://www.bcb.gov.br/vendor-es5.0b63a81b427d33d0f87e.js" nomodule defer></script><script src="https://www.bcb.gov.br/main-es2015.95218c959cb9cd775819.js" type="module"></script><script src="https://www.bcb.gov.br/main-es5.95218c959cb9cd775819.js" nomodule defer></script></body>\r\n\r\n</html><script id="f5_cspm">(function(){var f5_cspm={f5_p:\'MJAFPDAOEEDOEKIPHDPAHCKHGLKJNCCGGCJLOCHEKAEOACOEPOPLMLEMKDFMAPDGIOOBBMJAGDPHFEGMCCDAFABCEKLONMFLHHFCFEJLOMIPOGMNDCOKHJBKOOHONLIF\',setCharAt:function(str,index,chr){if(index>str.length-1)return str;return str.substr(0,index)+chr+str.substr(index+1);},get_byte:function(str,i){var s=(i/16)|0;i=(i&15);s=s*32;return((str.charCodeAt(i+16+s)-65)<<4)|(str.charCodeAt(i+s)-65);},set_byte:function(str,i,b){var s=(i/16)|0;i=(i&15);s=s*32;str=f5_cspm.setCharAt(str,(i+16+s),String.fromCharCode((b>>4)+65));str=f5_cspm.setCharAt(str,(i+s),String.fromCharCode((b&15)+65));return str;},set_latency:function(str,latency){latency=latency&0xffff;str=f5_cspm.set_byte(str,40,(latency>>8));str=f5_cspm.set_byte(str,41,(latency&0xff));str=f5_cspm.set_byte(str,35,2);return str;},wait_perf_data:function(){try{var wp=window.performance.timing;if(wp.loadEventEnd>0){var res=wp.loadEventEnd-wp.navigationStart;if(res<60001){var cookie_val=f5_cspm.set_latency(f5_cspm.f5_p,res);window.document.cookie=\'f5avr0883722387aaaaaaaaaaaaaaaa=\'+encodeURIComponent(cookie_val)+\';path=/\';}\nreturn;}}\ncatch(err){return;}\nsetTimeout(f5_cspm.wait_perf_data,100);return;},go:function(){var chunk=window.document.cookie.split(/\\s*;\\s*/);for(var i=0;i<chunk.length;++i){var pair=chunk[i].split(/\\s*=\\s*/);if(pair[0]==\'f5_cspm\'&&pair[1]==\'1234\')\n{var d=new Date();d.setTime(d.getTime()-1000);window.document.cookie=\'f5_cspm=;expires=\'+d.toUTCString()+\';path=/;\';setTimeout(f5_cspm.wait_perf_data,100);}}}}\nf5_cspm.go();}());</script>'

In [6]:
soup = BeautifulSoup(request.text, 'html.parser')

In [9]:
soup.findAll(name='head')

[<head>
 <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
 <meta charset="utf-8"/>
 <base href="https://www.bcb.gov.br/"/>
 <title>Banco Central do Brasil</title>
 <meta content="Banco Central do Brasil" name="description"/>
 <meta content="width=device-width, initial-scale=1" name="viewport"/>
 <meta content="index, follow" name="robots">
 <meta content="noindex" name="AdsBot-Google">
 <meta content="#025c75" name="theme-color">
 <meta content="HrSauVp28E-CmIunToYrF1-gaMfDbWESxMFUDXFMqPA" name="google-site-verification"/>
 <link href="/" hreflang="pt" rel="alternate"/>
 <link href="/en/" hreflang="en" rel="alternate"/>
 <link href="/" rel="canonical">
 <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
 <!-- diz ao servidor que futuras conexoes ira usar -->
 <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect"/>
 <link crossorigin="" href="https://www.google-analytics.com" rel="preconnect"/>
 <!-- css -->
 <link as="font" crossorigin="" href="/assets/fonts/iconic/iconic-lg.woff" rel="preload" type="font/woff"/>
 <link as="font" crossorigin="" href="/assets/fonts/iconic/iconic-md.woff" rel="preload" type="font/woff"/>
 <link as="font" crossorigin="" href="/assets/fonts/iconic/iconic-sm.woff" rel="preload" type="font/woff"/>
 <link as="font" crossorigin="" href="/assets/fonts/iconic/iconic-sm.ttf" rel="preload" type="font/ttf"/>
 <link as="font" crossorigin="" href="/assets/fonts/iconic/iconic-md.ttf" rel="preload" type="font/ttf"/>
 <link as="font" crossorigin="" href="/assets/fonts/iconic/iconic-lg.ttf" rel="preload" type="font/ttf"/>
 <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&amp;display=swap" lazyload="" rel="stylesheet"/>
 <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;display=swap" lazyload="" rel="stylesheet"/>
 <!-- production -->
 <link href="https://www.bcb.gov.br/styles.1f9ba79385903f3690f3.css" rel="stylesheet"/></link></meta></meta></meta></head>]

In [135]:
selic_body.findAll(name='div')

[]

In [ ]:
# ipca

In [114]:
def extract_ipca():
    url_ipca = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.4447/dados?formato=csv'
    return pd.read_csv(url_ipca, sep=';', decimal=',')

In [115]:
ipca_df = extract_ipca()

In [116]:
ipca_df.tail()

           data  valor
335  01/12/2019   1.94
336  01/01/2020  -0.28
337  01/02/2020   0.02
338  01/03/2020   0.14
339  01/04/2020  -0.25

- Amostra dos dados, contendo apenas a empresa ITUB4 e o primeiro semestre de 2019.