### Extraindo os Dados

*Neste notebook, faremos o processo de extração dos dados...*

In [62]:
# importando as bibliotecas
import os
import sys
import requests
from datetime import datetime
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import quandl

# configurando o notebook
import warnings
warnings.filterwarnings('ignore')

- Fontes avaliadas

- Dados históricos dos preços das ações

In [ ]:
# bovespa

In [ ]:
# empresas

- Dados históricos de pagamentos de dividendos

- Dados históricos fundamentalistas

- Dados históricos macroeconômicos

In [108]:
# dolar
def extract_dolar():
    initial_date = '01-01-2000' # MM-DD-AAAA
    final_date = datetime.today().strftime('%m-%d-%Y')
    url_dolar = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='{}'&@dataFinalCotacao='{}'&$top=1000000&$format=text/csv&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao".format(initial_date, final_date)
    return pd.read_csv(url_dolar, sep=',', decimal=',')

In [109]:
dolar_df = extract_dolar()

In [113]:
dolar_df.tail()

      cotacaoCompra  cotacaoVenda          dataHoraCotacao
5116         5.8223        5.8229  2020-05-15 13:07:28.264
5117         5.7369        5.7375  2020-05-18 13:03:30.159
5118         5.7210        5.7216  2020-05-19 13:09:50.154
5119         5.6962        5.6968   2020-05-20 13:11:28.89
5120         5.6013        5.6019  2020-05-21 13:02:36.901

In [125]:
# selic

url_selic = 'https://www.bcb.gov.br/controleinflacao/historicotaxasjuros'
request = requests.get(url_selic)
soup = BeautifulSoup(request.text, 'html.parser')

In [133]:
selic_body = soup.find(name='body')

In [135]:
selic_body.findAll(name='div')

[]

In [114]:
# ipca
def extract_ipca():
    url_ipca = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.4447/dados?formato=csv'
    return pd.read_csv(url_ipca, sep=';', decimal=',')

In [115]:
ipca_df = extract_ipca()

In [116]:
ipca_df.tail()

           data  valor
335  01/12/2019   1.94
336  01/01/2020  -0.28
337  01/02/2020   0.02
338  01/03/2020   0.14
339  01/04/2020  -0.25

- Amostra dos dados, contendo apenas a empresa ITUB4 e o primeiro semestre de 2019.